<!DOCTYPE html>

<html>
  <head>
      <title>SkyStream | Welcome!</title>
      <link type="text/css" rel="stylesheet" href="/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
      <script src="/js/dropdownMenu.js"></script>
  </head>

  <body>

    <nav>
      {{#if user}}
      <div class="dropdown">
        <button onclick="dropMenu()" class="dropbtn"></button>
        <div id="myDropdown" class="dropdown-content">
          <h3>Hello, {{user.username}}.</h3>
          <a href="/nodes/{{user.id}}">My Profile</a>
        </div>
      </div>
      {{/if}}


        <div id="navWrapper">
            <div class="navSearch" id="navSearch">
                <img src="/img/search.png" />
                <form id="search">
                    <input type="text" placeholder="" />
                </form>
            </div>

            <div id="links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/browse">NODES</a></li>
                    {{#if user}}
                      <li><a href="/stream">STREAM</a></li>
                      <li><a href="/logout">LOGOUT</a></li>
                    {{else}}
                      <li><a href="/register">REGISTER</a></li>
                      <li><a href="/login">LOGIN</a></li>
                    {{/if}}
                </ul>
            </div>

            <h2>SKY<font color="skyblue">STREAM</font></h2>
        </div>

    </nav>

          {{#if success_msg}}
            <div class="success"><h1>{{success_msg}}</h1></div>
          {{/if}}

          {{#if error_msg}}
                  <div class="errorMsg"><h1>{{error_msg}}</h1></div>
          {{/if}}

          {{#if error}}
                  <div class="missingInfo"><h1>{{error}}</h1></div>
          {{/if}}

    {{{body}}}


  </body>
</html>
